aiosqlite==0.22.1
alembic==1.20.0
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
argon2-cffi==25.1.0
argon2-cffi-bindings==26.1.0
bcrypt==5.0.0
certifi==2026.7.22
cffi==2.1.1
-e git+https://github.com/dalerdavidov/Haifa_Uni.git@c80db5f427bf8b581b536f2f914796c58da35ac8#egg=ch_f
click==8.5.0
cryptography==50.0.1
distro==1.9.0
dnspython==2.8.0
email-validator==2.3.0
fastapi==0.141.1
fastapi-users==15.0.5
fastapi-users-db-sqlalchemy==7.0.0
greenlet==3.5.5
h11==0.16.0
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
idna==3.19
imagekitio==5.9.0
makefun==1.16.0
Mako==1.4.1
MarkupSafe==3.0.3
psycopg2-binary==2.9.13
pwdlib==0.3.0
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
PyJWT==2.13.0
python-dotenv==1.2.3
python-multipart==0.0.32
PyYAML==6.0.3
sniffio==1.3.1
SQLAlchemy==2.0.52
starlette==1.6.0
typing-inspection==0.4.4
typing_extensions==4.16.0
uv==0.12.10
uvicorn==0.52.4
uvloop==0.22.1
watchfiles==1.2.0
websockets==17.1
